/* Background picker */
.cm-paste-box {
  border: none;
  border-radius: var(--radius-m);
  padding: 30px;
  text-align: center;
  color: var(--text-muted);
  background-color: var(--background-secondary);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  caret-color: transparent;
  margin-top: 15px;

  /* Dashed Border Pattern */
  background-image:
    linear-gradient(to right, var(--text-faint) 50%, transparent 50%),
    linear-gradient(to bottom, var(--text-faint) 50%, transparent 50%),
    linear-gradient(to right, var(--text-faint) 50%, transparent 50%),
    linear-gradient(to bottom, var(--text-faint) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y;
  background-size:
    10px 2px,
    2px 10px;
  background-position:
    0 0,
    100% 0,
    0 100%,
    0 0;

  &:hover,
  &:focus,
  &.is-over {
    color: var(--text-normal);
    background-color: var(--background-modifier-hover);
    outline: none;
    /* Active Border Pattern */
    background-image:
      linear-gradient(to right, var(--interactive-accent) 50%, transparent 50%),
      linear-gradient(to bottom, var(--interactive-accent) 50%, transparent 50%),
      linear-gradient(to right, var(--interactive-accent) 50%, transparent 50%),
      linear-gradient(to bottom, var(--interactive-accent) 50%, transparent 50%);
  }

  &:focus,
  &.is-over {
    animation: cm-marching-ants 0.2s linear infinite;
  }
}

.cm-image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 15px;
  max-height: 400px;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-m);
}
