/* Settings layout and general styles (from _settings.scss) */
.color-master-settings-tab {
  /* --- LTR/RTL Localization Overrides --- */

  &[dir='ltr'] {
    direction: ltr !important;

    .setting-item {
      flex-direction: row !important;
    }

    h2,
    h3,
    .setting-item-name,
    .setting-item-description {
      text-align: left !important;
    }

    .setting-item-info {
      margin-right: 10px !important;
      margin-left: 0 !important;
    }

    .cm-search-container,
    .cm-profile-actions,
    .cm-snippets-header {
      flex-direction: row !important;
    }

    .cm-search-input-icon {
      left: 10px !important;
      right: auto !important;
    }

    .cm-search-input-container .cm-search-input {
      background-color: transparent;
      padding: 8px 12px 8px 38px !important;
    }

    .cm-accessibility-checker {
      margin-left: 10px !important;
      margin-right: 0 !important;
    }

    .cm-setting-icon {
      margin-right: 5px;
      margin-left: 0;
    }
  }

  &[dir='rtl'] {
    .cm-search-input-icon {
      left: auto;
      right: 10px;
    }

    .cm-search-input-container .cm-search-input {
      padding-left: 12px !important;
      padding-right: 36px !important;
    }

    .cm-accessibility-checker {
      margin-left: 0;
      margin-right: 10px;
    }

    .cm-setting-icon {
      margin-right: 0;
      margin-left: 5px;
    }
  }
}
