/* Duplicate tag warning */
@keyframes cm-flash-red {
  0% {
    background-color: var(--interactive-error);
  }
  100% {
    background-color: var(--interactive-accent);
  }
}

/* Duplicate tag shaking */
@keyframes cm-shake {
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(1px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-3px);
  }
  40%,
  60% {
    transform: translateX(3px);
  }
}

/* Codepen Button */
@keyframes cm-border-animation {
  to {
    transform: translateX(-25%);
  }
}

/* Adding new items */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Removing items */
@keyframes fadeOutSlide {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* Background Picker Paste Area */
@keyframes cm-marching-ants {
  to {
    background-position:
      10px 0,
      100% 10px,
      -10px 100%,
      0 -10px;
  }
}
