/* Variables */
:root {
  /* Snippet List UI Variables */
  --cm-snippet-row-min-height: 40px;
  --cm-snippet-toggle-scale: 0.85;
  --cm-snippet-icon-size: 18px;
  --cm-snippet-drag-area-spacing: 4px;
  --cm-snippet-handle-vertical-nudge: 2px;
}
